.navbar {
  background: -webkit-linear-gradient(
    180deg,
    #0e0d30 0%,
    #0c1014 73.96%,
    #14133d 100%
  );
  padding: 30px 70px !important;
}

.navbar h2 {
  color: white;
  font-size: 24px;
}
.nav-link {
  color: white !important;
  font-size: 15px !important;
}

.nav-item {
  padding: 10px 20px;
  font-weight: 500;
}
.navbar-toggler {
  color: white;
}
.invite {
  background-color: white;
  height: 42px;
  width: 160px;
  display: flex;
  justify-content: center;
  border-radius: 35px;
}

.invite span {
  color: black;
  padding: 8px 0px 0px 0px;
  font-size: 15px;
}
.connect-div {
  background: -webkit-linear-gradient(
    180deg,
    #0e0d30 0%,
    #0c1014 73.96%,
    #14133d 100%
  );
  display: flex;
  justify-content: center;
  padding: 160px 0px 0px 0px;
}

.connect-div h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.connect-div2 {
  background: -webkit-linear-gradient(
    180deg,
    #0e0d30 0%,
    #0c1014 73.96%,
    #14133d 100%
  );

  padding: 30px 0px 0px 0px;
}

.connect-div2-row {
  justify-content: center;
}

.connect-div2 h4 {
  color: whitesmoke;
  font-size: 24px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.connect-input {
  background: -webkit-linear-gradient(
    180deg,
    #0e0d30 0%,
    #0c1014 73.96%,
    #14133d 100%
  );
  display: flex;
  justify-content: center;
  padding: 20px 0px 200px 0px;
  height: 100px;
}
.connect-input input {
  background: -webkit-linear-gradient(
    180deg,
    #0e0d30 0%,
    #0c1014 73.96%,
    #14133d 100%
  );
  border-color: white;
  padding: 20px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.connect-input-div {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 44px;
  background-color: white;
}

.connect-input-div span {
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.content-img {
  background: -webkit-linear-gradient(
    180deg,
    #0e0d30 0%,
    #0c1014 73.96%,
    #14133d 100%
  );
  display: flex;
  justify-content: center;
  padding: 0px 0px 100px 0px;
}

.section-div {
  padding: 100px 10px 100px 10px;
  background-color: #f6f6f6;
}
.section2-collaborate p {
  color: #939393;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0px 0px 0px;
}

.section2-recommand {
  font-size: 59px;
  font-weight: 500;
  padding: 0px 0px;
  color: #363636;
}

.section2-recommand-coverage {
  font-size: 59px;
  font-weight: 500;
  color: #363636;
  bottom: 15px;
}

.section2-ipsum p {
  color: #939393;
  font-size: 24px;
  font-weight: normal;
}
.section-image {
  display: flex;
  justify-content: center;
  padding: 60px 0px 0px 0px;
  background-color: #e8e8e8;
  border-radius: 4px;
}
.section-image img {
  width: 400px;
}

.section2-pipeline {
  font-size: 59px;
  font-weight: 500;
  padding: 10px 0px;
  color: #363636;
}

.section2-conenct p {
  color: #939393;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0px 0px 0px;
}

.about-heading {
  display: flex;
  justify-content: center;
  padding: 70px 0px 0px 0px;
}
.about-heading h1 {
  color: white;
  font-weight: normal;
  font-size: 48px;
}
.about-lowhead {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}
.about-lowhead h1 {
  color: white;
  font-weight: normal;
  font-size: 48px;
}

.multiple-cards {
  padding: 30px 0px 100px 0px;
}

.about-circle {
  height: 70px;
  width: 70px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: inline-block;
}
.about-card-col {
  display: flex;
  justify-content: center;
  background-color: #34374f;
  margin: 30px;
  padding: 50px 0px 0px 0px;
  border-radius: 10px;
}
.about-card-col h1 {
  font-size: 16px;
  color: #c4c4c4;
  padding: 5px 0px 0px 0px;
}
.about-card-col h2 {
  font-size: 14px;
  color: #c4c4c4;
}

.about-card-col p {
  font-size: 16px;
  color: #c4c4c4;
  padding: 20px 0px 20px 0px;
  font-weight: 500;
}

.footer {
  background-color: #eeeeee;
  margin: 30px 30px 160px 30px;
  border-radius: 10px;
  padding: 300px 0 50px 0;
}
.footer-title h1 {
  padding: 0px 0px 0px 60px;
  opacity: 0.9;
  font-size: 46px;
}
.footer-join-list {
  background-color: white;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
  border: 1px solid #cdcdcd;
  margin: 40px 20px 20px 20px;
}

/*.....Media Query.... */
@media screen and (max-width: 766px) {
  .navbar {
    padding: 30px 20px !important;
  }
  .connect-div h1 {
    padding: 0px 0px 0px 20px;
  }
  .connect-input-div span {
    font-size: 12px;
  }
  .connect-div {
    padding: 30px 0px 0px 0px;
  }
  .connect-div2-row {
    padding: 0px 40px;
  }
  .about-heading h1 {
    font-size: 42px;
  }
  .about-lowhead h1 {
    font-size: 42px;
  }
  .footer-title h1 {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  .footer-join-list h2 {
    font-size: 22px;
  }
  .section2-recommand {
    font-size: 48px;
    text-align: center;
  }
  .section2-recommand-coverage {
    font-size: 48px;
    text-align: center;
  }
  .section2-collaborate p {
    text-align: center;
  }
  .section2-ipsum p {
    text-align: center;
  }
  .section-div {
    padding: 10px 10px 100px 10px;
  }
}
